@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "American";
  src: url("/fonts/american-captain-eternal.otf");
}

@font-face {
  font-family: "tt07";
  src: url("/fonts/tt0768m.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
