
.container {
  padding: 0 2rem;
}

.landingImage {
  z-index: -1;
  object-position: top;
}

.textalign {
  text-align: center;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "tt07";
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #999999;
}

.footer a {
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: "American";
}

.title {
  color: #fff;
  text-align: center;
}

.runner {
  color: #715e25;
  text-decoration: none;
  font-family: "tt07";
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.footertext {
  text-decoration: none;
  font-family: "sans";
  line-height: 1.15;
  font-size: 1rem;
  text-align: center;
}

.description {
  background: #705e20;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: "sans";
  color: #ffffff;
  text-align: center;
  display: inline-block;
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.description p {
  max-width: 800px;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: left;
}

.delink {
  color: #D0AE83;
  text-decoration: none;
  font-family: "American";
}

.delink:hover,
.delink:focus,
.delink:active {
  color: #eebc59;
  text-decoration: none;
  font-family: "American";
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.nftimg {
  width: 180px;
  height: 180px;
  position: relative;
  margin: 0.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.nft {
  background: #fafafa;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 360px;
}

.card {
  background: #705e20;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: #999999;
  text-decoration: none;
  border: 1px solid #705e20;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 340px;
  font-family: "sans";
  font-size: 1rem;
}

.card:hover,
.card:focus,
.card:active {
  background: #D0AE83;
  color: #111111;
  border-color: #111111;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
}

.inlink {
  color: #715e25;
  text-decoration: none;
  font-family: "American";
}

.inlink:hover,
.inlink:focus,
.inlink:active {
  color: #D0AE83;
  text-decoration: none;
  font-family: "American";
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.libold {
  font-weight: bold;
  font-family: "tt07";
}

.lismall {
  font-family: "sans";
  font-size: 1rem;
}
